*{
    margin: 0px;
    font-family: sans-serif;
}
p{
    font-size: 20px;
    font-weight: 400;
    color: #555C68;
}
button{
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
}
h2{
    font-size: 40px;
    font-weight: 600;
    color: #24272E;
}
h1{
    font-size: 54px;
    font-weight: 600;
    color: #24272E;
}
.header{
    width: 100%;
    background-color: #101C26;
    padding-bottom: 40px;
}
.h-part1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    padding-top: 30px;
}
.divhome{
    display: flex;
    gap: 50px;
    align-items: center;
    
}
.phome{
    font-size: 16px;
    font-weight: 500;
    color: #BAB9B9;
}
.lol{
    color: #FFFFFF;
    text-decoration: underline;
}
.btnsign{
    width: 117px;
    height: 50px;
    border: 1px solid grey;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffffff00;
    color: #CECECE;
}
.btnsign1{
    width: 117px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    background-color: #F0E714;
    color: #101C26;
}
.btn2x{
    display: flex;
    gap: 20px;
}
.h1we{
    color: #F3F4F6;
    width: 450px;  
}
.pwe{
     color: #f3f4f6b7;
     width: 400px;
     margin-top: 20px;
}
.h-part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    margin-top: 50px;
}
.btnget{
    width: 197px;
    height: 60px;
    background-color: #F0E714;
    color: #000;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.divhow{
    display: flex;
    align-items: center;
    gap: 20px;
}
.p20{
    color: #F0E714;
    text-align: center;
}
.pyear{
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}
.div20{
    width: 143px;
}
.h-part3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    margin-top: 50px;
}
.sec1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    padding-top: 150px;
}
.btnabou{
    background-color: rgba(240, 231, 20, 0.2);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 8px;
}
.pwa{
    width: 600px;
    margin-top: 30px;
}
.pcs{
    width: 450px;
    margin-top: 20px;
}
.btnread{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #24272E;
    color: #F0E714;
    width: 160px;
    height: 46px;
    margin-top: 30px;
}   
.sec2{
    display: flex;
    justify-content: space-between;
  
    padding: 0px 100px;
    padding-top: 150px;
} 
.pex{
    width: 500px;
    margin-top: 40px;
}
.psat{
    width: 350px;
    margin-top: 10px;
}
.first{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}
.divour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.pwh{
    width: 450px;
    text-align: center;
    margin-top: 30px;
}
.pbus{
    width: 650px;
    text-align: center;
    margin-top: 30px;
}
.product{
    width: 270px;
    height: 190px;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
}
.product3{
    width: 270px;
    height: 190px;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 10px 10px 10px rgba(164, 158, 158, 0.397);
}
.main{
    background-color: rgba(231, 227, 227, 0.973);
}
.sec3{
    padding: 0px 100px;
    margin-top: 150px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.pele{
   margin-top: 20px;
}
.Ready{
    padding: 0px 100px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: end;

}
.sec4{
    display: flex;
    margin-top: 100px;
    gap: 40px;
    justify-content: center;
    padding: 0px 100px;

}